html, body {
    overscroll-behavior: none;
    height: 100%;
    overflow-x: hidden;
}

.option:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mailingList {
    transition: .5s;
    cursor: pointer;
}

.mailingList:hover {
    opacity: 50%;
}
